body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #60a3bc !important;
}

.alignLeft {
  text-align: left;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f39c12;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
}

.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}

.login_btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}

.logo {
  width: 140px;
}

/***********************************Header*********************************/
/**Front**/
header {
  background-image: url("../img/peleton.png");
  background-size: cover;
}

.btn-connect {
  margin: 0 20px;
}

/**Back**/
#sidebar .logoAdmin {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
}

.sidebar .sidebar-brand-wrapper {
  height: 170px;
}

.sidebar .nav {
  padding-top: 10px;
}

/******************************Admin content********************************/
th,
td {
  text-align: center;
}

table img {
  display: block;
  margin: auto;
}

table .border-bottom {
  margin-bottom: 15px;
}

table .border-bottom td {
  padding-bottom: 5px;
}

.actionTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.actionTable .mdi-delete {
  color: #fc424a;
  font-size: 30px;
  text-align: center;
}

.actionTable .mdi-update {
  color: #58d8a3;
  font-size: 30px;
  text-align: center;
}

/**Products**/
.productForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productForm input,
.productForm select {
  margin: 20px 0;
}

.productSubmit {
  width: 250px;
  display: block;
  margin: auto;
}

/************************register.php************************/
.card-form {
  max-width: 600px;
  display: block;
  margin: 50px auto;
}

.card-form h2 {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */